language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t docker-multi-container-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true docker-multi-container-test npm test

after_success:
  - docker build -t svelamoor21/docker-multi-client ./client
  - docker build -t svelamoor21/docker-multi-nginx ./nginx
  - docker build -t svelamoor21/docker-multi-server ./server
  - docker build -t svelamoor21/docker-multi-worker ./worker

  #Login to docker CLI
  - echo "DOCKER_PASSWORD" | docker login -u "DOCKER_ID" --password-stdin

  #Take those images and push to docker hub
  - docker push svelamoor21/docker-multi-client
  - docker push svelamoor21/docker-multi-nginx
  - docker push svelamoor21/docker-multi-server
  - docker push svelamoor21/docker-multi-worker
